<div class="container">
  <div class="row" id="dashboardContent">
    <div id="dashboardError" class="alert alert-danger" role="alert" style="display: none">
      OH NO... SOMETHING WENT WRONG...</br>
      <span id="dashboardErrorMessage"></span><br/>
      Last error on: <span id="dashboardErrorTime"></span>
    </div>
    <div class="col-md-8">
      <div id="dashboardActiveRooms">
        <%= render 'rooms', rooms: @dashboard.rooms.active %>
      </div>
      <div id="dashboardInactiveRooms">
        <%= render 'rooms', rooms: @dashboard.rooms.inactive, active: false %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'system_status', dashboard: @dashboard %>
    </div>
  </div>
</div>

<div class="modal fade" id='roomTempHistory' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Temperature History</h4>
      </div>
      <div class="modal-body">
        <div id="sensorMeasurementGrid"></div>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript">
  $(document).ready(function(){
    setTempGage(<%= current_temp %>);
    updateSystemDetails();
  });
</script>