<%= link_to '<< Sensors', sensors_path %>&nbsp;<%=link_to "<< #{@sensor.name}", @sensor %>

<h2>Edit Sensor: <%= @sensor.name %></h2>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>